.card{
	.card-header{
		border: 0;
		} header{
		display: flex;
		align-items: center;;
		justify-content: space-between;
			.title-card-header h2{
				text-transform: uppercase;
				font-size: 0.9em;
				font-weight: normal;
				padding-top: 10px;
				color:#999;
			}
			.months select{
					border: 1px solid #eee;
					padding: 5px;
					color:#999;
					width: 100px;
			}
			.disabled{
					background-color: #fff;
					border: 1px solid #f4f4f4;
					color: #red;
					}
			}
			.messages button{
					background-color: #fff;
					border: 1px solid #ccc;
					height: 27px;
   					padding: 5px;
					height: 30px;
			}
}