@import "../components/bootstrap/scss/bootstrap";
@import "../components/bootstrap/scss/normalize";
@import "../components/components-font-awesome/scss/font-awesome";

body{
	background-color: #ccc;
	width:100%;
}
header{
	border:1px solid;
}
.row{
	border:1px solid red;
}
section .slogan{
	height: 300px;
	border: 1px solid;
	padding-top: 50px;
	@include make-col(12);
	h2{
		font-size: 30px;
		color: #fff;
		padding-left: 60px;
		margin-top:30px;
	}:nth-child(2){
		margin-left: 60px;
	}
	p{
		font-size:20px;
		color: #006699;
		text-align: center;
	}
}

.call{
	h2.bigger:nth-child(1){
		color: red;
		font-size:28px;
		letter-spacing: 0.2em;
		font-weight:bold;
	}
	h2{
		color: #fff;
		text-transform: uppercase;
		font-size:20px;
	}
}

.price{
	border: 1px solid;
	p{
		text-align: right;
	}
}

.footer-slogan{
	padding:30px;
	h2{
		color: #fff;
	}:nth-child(2){
		color: orange;
		margin-left: 100px;
	}
}