@import "../components/bootstrap/scss/bootstrap";
@import "../components/bootstrap/scss/normalize";
@import "../components/components-font-awesome/scss/font-awesome";

.row{
	@include make-row;
}
.row {
	margin-right: 0;
	margin-left: 0;

	>.col,
	[class*="col-"]{
		padding-right: 0;
		padding-left: 0;
	}
}
$back-menu: #353535;

/*Sidebar*/
@import "sidebar";

/*Header*/
@import "header";

/*card custom*/
@import "card-custom";

/*timeline*/
@import "timeline";

/*badge custom*/
//@import "badge-custom";

.container{
	width: 95%;
	padding-left: 15px;
	.card{
		height: 100%;
	}
}
.header .h-nav{
		.nav{
			margin-top:25px;
		}
		ul{
			width: 250px;
			float: right;
		}
		li{
			font-size: 0.6em;
		}
	}


@mixin make-col-project($size, $columns: $grid-columns) {
   flex: 0 0 percentage($size / $columns);
   width: percentage($size / $columns);
 }


/*iphone*/
@include media-breakpoint-down('xs') {
	.container{
		width: 100%;
		.card{
			height: 350px;
		}.coluna-menor, .coluna-maior{
			@include make-col-project(12);
				
				.timeline-panel{
					padding: 0;
				}
				ul.timeline{

					li{
						margin-bottom: 0;
					}
					.timeline-title{
						font-size: 1rem;
					}
				padding-top: 0;
				.timeline-body p{
					font-size: .6em;
				}
			}
		}
	}
}

/*ipad*/
@include media-breakpoint-up('sm') {

	.container{
		width: 100%;
		.card{
			height: 430px;
		}
		.timeline{
			padding-top: 0;
			.timeline-body{
				font-size: .6em;
			}
		}
		
	}
}


	.coluna-menor, .coluna-maior{
			@mixin make-col-project($col){
			@include make-col-project($col);
			@include make-gutters($grid-gutter-widths);
		}
	}
	.coluna-menor{
		@include make-col-project(6);
		padding: 10px;
	}
	.coluna-maior{
		@include make-col-project(6);
		padding: 10px;
	}


@include media-breakpoint-up('lg') {
	.coluna-menor{
		@include make-col-project(6);
		padding: 10px;
	}
	.coluna-maior{
		@include make-col-project(6);
		padding: 10px;
	}
	.container{
		width: 85%;
		margin-left: 180px;
	}
}